@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

.addFavoriteContainer {
  .addTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: #f6f6f8;
    margin-bottom: 32px;
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
  }

  .paginationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;

    .left {
      position: absolute;
      left: -60px;
      top: -90px;
    }

    .right {
      position: absolute;
      left: 30px;
      top: -90px;
    }

    .paginationButton {
      background-color: #1b1b1b;
      border: none;
      width: 29px;
      height: 135px;
      cursor: pointer;

      &:hover {
        opacity: 80%;
      }

      &:disabled {
        background-color: #6b6b6b;
        opacity: 20%;
        cursor: not-allowed;
      }
    }
  }
}
