@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

.favoriteContainer {
  .favoriteTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: #f6f6f8;
    margin-top: 76px;
    margin-bottom: 32px;
  }

  .favoriteSection {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 24px;
    max-height: calc(179px * 2 + 24px);
    overflow: hidden;
    margin-bottom: 81px;
    .idolCard {
      text-align: center;

      .idolImageWrapper {
        width: 128px;
        height: 128px;
        border: 1px solid #f96d69;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        position: relative;

        .idolImage {
          width: 115px;
          height: 115px;
          border-radius: 100%;
        }

        .deleteButton {
          position: absolute;
          top: 11px;
          left: 90px;
          width: 30px;
          height: 30px;
          border: 2.87px solid #02000e;
          border-radius: 100%;
          cursor: pointer;

          img {
            width: 12px;
            height: 12px;
          }
        }
      }

      .idolName {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: #f4efef;
      }

      .idolGroup {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #ffffff;
        opacity: 60%;
      }
    }
  }
}
