@import "../../styles/global.scss";

@mixin flex-style($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.creditWrapper {
  border: none;
  max-width: 1200px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid $color-white-3;
  height: 131px;
  padding: 30px 50px;
}
.creditBox {
  @include flex-style(row, space-between);
}

.creditInfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.creditTitle {
  @include font-style(400, 16px, 19px);
  color: rgba($color-white-1, 0.6);
}

.creditAmount {
  @include font-style(700, 24px, 26px);
  color: rgba($color-white-1, 0.87);
  display: flex;
  align-items: center;
}

.creditIcon {
  margin-right: 5px;
}

.rechargeButton {
  @include font-style(700, 20px, 26px, 0.05em);
  color: rgba($color-brand-peach, 0.7);
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $color-brand-peach;
  }
}

@media (max-width: 374px) {
  .creditWrapper {
    padding: 30px 20px;
  }
}
