.alertModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.alertCreditIcon {
  width: 160px;
  height: 180px;
}

.alertMsg {
  padding: 0 30px;
  margin-bottom: 10px;
}
