@import "../../styles/global.scss";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparentize($color-black-1, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal,
.voteModalStyle {
  background: $color-black-2;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  color: $color-white-2;
  z-index: 2001;
}

.voteModalStyle {
  @media (max-width: 374px) {
    width: 100%;
    height: 100%;
    background: $color-black-1;
    z-index: 2001;
  }
}

.title,
.voteModalTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.voteModalTitle {
  @media (max-width: 374px) {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}

.modalClose,
.voteModalBack {
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover {
    filter: brightness(130%);
  }

  &:active {
    filter: opacity(50%);
  }
}

.voteModalBack {
  @media (max-width: 374px) {
    position: absolute;
    left: 0;
  }
}

h2 {
  margin: 0;
}
