@import "../../styles/color.scss";

.modalImageContainer {
  position: relative;
}

.modalIdolInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modalIdolRank {
  color: $color-brand-peach;
}

.modalIdolName {
  color: $color-white-2;
}

.modalVoteInfo {
  color: $color-gray-3;
}

.modalIdolContents {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
