* {
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 16px;
  height: 70px;
}

.idolInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

span {
  color: rgba(249, 109, 105, 1); /* 후에 colors에서 전역컬러로 바꾸기 */
}

p {
  color: rgba(255, 255, 255, 0.87);
}

.voteInfo {
  color: rgba(255, 255, 255, 0.6);
}
