$color-black-1: #02000e;
$color-black-2: #181d26;

$color-gray-1: #67666e;
$color-gray-2: #828282;
$color-gray-3: #a3a5a8;
$color-gray-4: #8c92ab;

$color-white-1: #f7f7f8;

$color-brand-peach: #f96d69;
$color-brand-pink: #fe5493;
