@use "./font" as fonts;
@use "./color" as colors;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: fonts.$font-family-pretendard;
  color: colors.$color-white-1;
}
