@import "./font";
@import "./color";
@import "../components/slider/slider.scss";
@import "../components/common/loadingSpinner.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family-pretendard;
  color: $color-white-1;
}

button {
  border: none;
  box-shadow: none;
  font-family: $font-family-pretendard;
}
