@media screen and (max-width: 744px) {
  .container {
    .idolSection {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow-x: hidden;
      gap: 17px;
      max-height: calc(151px * 2 + 17px);
      .idolCard {
        width: 100%;
        .idolImageWrapper {
          width: 98px;
          height: 98px;
          margin: 0 auto 8px;

          .idolImage {
            width: 88px;
            height: 88px;
          }

          .overlay {
            top: 6px;
            width: 88px;
            height: 88px;
            img {
              width: 26px;
              height: 19px;
            }
          }
        }
      }
    }
  }
}
