@import "../../styles/color.scss";

.paginationButton {
  background-color: $color-black-3;
  border: none;
  width: 29px;
  height: 135px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    opacity: 80%;
  }

  &:disabled {
    background-color: $color-gray-5;
    opacity: 20%;
    cursor: not-allowed;
  }
}

@media screen and (min-width: 1200px) {
  .left {
    position: relative;
    left: -32px;
  }

  .right {
    position: relative;
    right: -32px;
  }
}

@media screen and (max-width: 744px) {
  .left {
    position: static;
    display: none;
  }

  .right {
    position: static;
    display: none;
  }
}
