@import "../../../../styles/global.scss";

.chartLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  height: 70px;
  @include font-style(400, 16px, 19px);
}

.idolInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba($color-white-1, 0.87);
}

.idolName {
  font-weight: 500;
}

.idolRank {
  color: rgba($color-brand-peach, 1);
}

.voteInfo {
  color: rgba($color-white-1, 0.6);
}
