@import "../../styles/global.scss";

body {
  background-color: $color-black-1;
}

.mainContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helloCredit {
  margin-bottom: 40px;
}
