.phoneImage {
    position: absolute;
    width: 300px;
    height: auto;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    border-radius: 0;
  }