@import "../../styles/global.scss";

.gradientButton {
  padding: 2px 16px 3px 16px;
  border-radius: 3px;
  background: linear-gradient(90deg, #f86f65 0%, $color-brand-pink 100%);
  color: $color-white-1;
  border: none;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:not(:disabled):hover {
    transform: scale(1.05); // scale 추가
    box-shadow: 0 4px 10px rgba(248, 111, 101, 0.3); // 그림자 추가
    background: linear-gradient(
      90deg,
      $color-brand-pink 0%,
      #f86f65 100%
    ); // 색상반전
  }
  &.tributeButton {
    height: 40px;
    width: 234px;

    @media (max-width: 374px) {
      height: 31px;
      width: 142px;
      font-size: 13px;
    }
  }

  &.chartVoteButton {
    //차트 투표하기
    height: 32px;
    width: 128px;
    gap: 4px;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.chargeButton, // 충전하기
  &.supportButton, // 후원하기
  &.confirmButton {
    // 확인하기
    height: 42px;
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
  &.supportButton {
    &:disabled {
      // 후원하기버튼이 disabled일시
      background: gray !important;
      cursor: not-allowed;
    }
  }

  &.voteButton {
    // 투표하기
    height: 42px;
    width: 477px;
    margin: 20px 10px;
    padding: 0;

    @media (max-width: 374px) {
      width: 327px;
    }
  }

  &.addButton {
    // 추가하기
    height: 48px;
    width: 255px;
    border-radius: 24px;
    padding: 0;
  }
}
