.imgBox {
  height: 293px;
  width: 282px;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
}
.cardImg {
  height: 293px;
  width: 282px;
  border-radius: 8px;
}

.tributeButtonContainer {
  position: absolute;
  transform: translateX(-50%);
  top: 233px;
  left: 50%;
}
.tributeButton {
  width: 234px;
  height: 40px;
  padding: 2px 16px 3px 16px;
  border-radius: 3px;
  position: absolute;
  bottom: 10%; /* 이미지의 하단에 배치 */
  left: 50%; /* 수평 중앙 정렬 */
  transform: translateX(-50%);
  background: linear-gradient(90deg, #f86f65 0%, $color-brand-pink 100%);
  /* 반투명한 배경색 */
  color: $color-white-1;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
