.sliderContainer {
  display: flex;
  align-items: center;
  gap: 0 40px;
  height: 402px;
  position: relative;
}
.slick-track {
  display: flex !important;
  gap: 9px;
}
.slick-list {
  overflow: hidden;
}
.slick-slide {
  width: 282px !important;
  display: flex;
  justify-content: center; /* 슬라이드를 중앙 정렬 */
  align-items: center;

  color: $color-white-1;
}

.sliderBox {
  width: 1165px;
}
.tributeSupport {
  padding: 20px 9px;
  font-size: 24px;
}
.slick-slide {
  width: 282px !important;
  display: flex;
  justify-content: center; /* 슬라이드를 중앙 정렬 */
  align-items: center;

  color: $color-white-1;
}

.arrowButton {
  width: 40px;
  height: 78.33px;
  border: none;
  background-color: rgba(27, 27, 27, 0.8);
  cursor: pointer;
}
.arrowIcon {
  width: 10px;
  height: 20px;
}
.sliderItem {
  width: 282px !important; /* 카드의 고정 너비 */
  height: 402px; /* 카드의 고정 높이 */
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 수직 배치 */
  gap: 8px 0px;
}
.imgBox {
  height: 293px;
  width: 282px;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
}
.tributeButton {
  width: 234px;
  height: 40px;
  padding: 2px 16px 3px 16px;
  border-radius: 3px;
  position: absolute;
  top: 233px; /* 이미지의 하단에 배치 */
  left: 50%; /* 수평 중앙 정렬 */
  transform: translateX(-50%);
  background: linear-gradient(90deg, #f86f65 0%, $color-brand-pink 100%);
  /* 반투명한 배경색 */
  color: $color-white-1;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.cardImg {
  height: 293px;
  width: 282px;
  border-radius: 8px;
}

.adLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  position: relative;
}
.addContainer {
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
}
.adHeading {
  opacity: 40%;
}
.adTitle {
  font-size: 18px;
}
.tributeInfo {
  display: flex;
  justify-content: space-between;
  height: 26px;
  width: 100%;
  position: relative;
  &::after {
    content: "";

    width: 33%; /* 1/3 너비 */
    border-bottom: 1px solid rgba(249, 109, 105, 1);
    position: absolute;
    bottom: 0;
    left: 0; /* 요소의 중앙에서 시작 */
  }
}
.gemCount {
  display: flex;
}

@media (max-width: 744px) {
  .sliderBox {
    width: 744px;
  }
  .tributeSupport {
    padding: 20px 9px;
    font-size: 18px;
  }
  .arrowButton {
    display: none;
  }
}

@media (max-width: 374px) {
  .sliderBox {
    width: 374px;
  }
  .tributeSupport {
    padding: 20px 9px;
    font-size: 16px;
  }
  .sliderItem {
    width: 158px !important;
    height: 303px !important;
    gap: 10px 0px;
  }
  .imgBox {
    width: 158px !important;
    height: 206px !important;
  }
  .cardImg {
    width: 158px;
    height: 206px !important;
    border-radius: 8px;
  }
  .arrowButton {
    display: none;
  }
  .tributeButton {
    width: 142px;
    height: 31px;
    top: 167px;
    color: $color-white-1;
    border: none;
    padding: 2px 16px 3px 16px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
  }
}
