.imgBox {
  height: 293px;
  width: 282px;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
}
.cardImg {
  height: 293px;
  width: 282px;
  border-radius: 8px;
  object-fit: cover;
}

.tributeButtonContainer {
  position: absolute;
  transform: translateX(-50%);
  top: 233px;
  left: 50%;
}

@media (max-width: 374px) {
  .tributeButtonContainer {
    height: 31px;
    width: 142px;
    top: 167px;
  }

  .imgBox {
    width: 158px !important;
    height: 206px !important;
  }
  .cardImg {
    width: 158px;
    height: 206px !important;
    border-radius: 8px;
  }
}
