.arrowButton {
  width: 40px;
  height: 78.33px;
  border: none;
  background-color: rgba(27, 27, 27, 0.8);

  cursor: pointer;
  position: absolute;
  top: 50%; /* 슬라이더의 가운데 정렬 */
  transform: translateY(-50%); /* 세로 중앙으로 이동 */
  transition: opacity 0.3s ease;

  &.prevButton {
    left: -60px; /* 왼쪽 위치 */
  }

  &.nextButton {
    right: -50px; /* slickslide 마진20에 의해서 left보다 적게 적용  */
  }
}

.arrowIcon {
  width: 10px;
  height: 20px;
}

@media (max-width: 1340px) {
  .arrowButton {
    display: none;
  }
}
