@import "../../styles/global.scss";

.tributeInfo {
  display: flex;
  justify-content: space-between;
  height: 26px;
  width: 100%;
  position: relative;
  font-size: 12px;
}
.gemCount {
  display: flex;
}
.progressBarWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.progressBarContainer {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  overflow: hidden;
}

.progressBar {
  height: 1px;
  background-color: rgba(249, 109, 105, 1); /* 채워지는 부분의 색상 */
  width: 0%; /* 초기값 */
  transition: width 0.5s ease;
}
