@import "../../styles/global.scss";
.sliderContainer {
  display: flex;
  flex-direction: column;

  // position: relative;
  height: 470.57px;

  width: 100%;
  max-width: 1200px;
  position: relative;
}
.sliderBox {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  overflow: hidden;
}
.slick-track {
  display: flex !important;
}
.slick-list {
  display: flex;
  align-items: center;
}
.slick-slide {
  width: 282px !important;
  display: flex;
  justify-content: center; /* 슬라이드를 중앙 정렬 */
  align-items: center;
  color: $color-white-1;
  margin-right: 20px;
  /* 오른쪽 간격만 설정 */
}

.tributeSupport {
  padding: 20px 0;
  font-size: 24px;
  width: 100%;
}

.sliderItem {
  max-width: 282px !important; /* 카드의 고정 너비 */
  height: 402px; /* 카드의 고정 높이 */
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 수직 배치 */
  gap: 8px 0px;
}

@media (max-width: 744px) {
  .sliderContainer {
    height: 500px !important;
    max-width: 100vw;
    max-width: 744px;
  }
  .sliderBox {
    max-width: 100vw;
  }
}

@media (max-width: 374px) {
  .sliderContainer {
    height: 390px !important;
  }
  .sliderBox {
    max-width: 100vw;
  }
  .slick-slide {
    height: 303px !important;
    width: 158px !important;
  }
  .tributeSupport {
    font-size: 16px;
  }
  .sliderItem {
    width: 158px !important;
    height: 303px !important;
    gap: 10px 0px;
  }
}
@media (max-width: 195px) {
  .tributeSupport {
    font-size: 12px;
    padding: 10px 0;
  }
}
